{
	margin: 0;
	padding: 0;
}
body {
	width: 960px;
	font-family: Arial, Verdana, Helvetica;
	margin: 0 auto;
	/*background-color: #F0F0F0;*/
	background-color: rgba(133, 167, 150, 0.2);
	/**background: linear-gradient(to right,  rgba(133, 167, 150, 0.2),  rgba(133, 167, 150, 0.6));*/
}
.titulobarra{
	margin-bottom: 0px;

}
.barracolores{
	height: 8px;
	background: linear-gradient(to right,  #043347,  #036975, #0A8389, #85A796, #D6D3B0);
}
.button {
	padding-right: 0px;
	padding-left: 0px;
	width: 60%;
	display: block;
	margin: 0 auto;
	height: 40px;
}

.label{
	width: 60%;
	display: block;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	margin-bottom: 10px;
}


.formulario {
	height: 285px;
	background: #F7F7F7;
	width: 50%;
	box-shadow: 7px 7px 7px rgba(0, 0 , 0 , 0.3);
	margin-top: 40px;
	border-radius: 10px;
	margin: 0 auto;
}

legend {
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	color: #036975;
}

.titulo{
	text-align: center;
	color: #036975;
	margin-top: 0px;

}

fieldset {
	margin: 10px 10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	border: 2px groove (internal value);

}
.forgotpassword, .registrar{
	font-size: 13px;
	display: block;
	padding: 5px;
}

.footerIndex {
	border-top: 1px solid #036975;
	color: #036975;
	text-align: center;
}
.footerIndex  .copyright, .footerIndex .autor1 {
	margin-bottom: 0px;
}
.footerIndex .derechos, .footerIndex .autor2{
	margin-top: 0px;
}

.cuerpo{
	margin-bottom: 25px;
	margin-top: 40px;
}
.footerbarra, .barraCuenta{
	background-color: rgba(133, 167, 150, 0.3);
	border: 1px solid rgba(133, 167, 150, 0.35);
	line-height: 40px;
}
.tituloheader{
	/**background: linear-gradient(to right,  rgba(133, 167, 150, 0.2),  rgba(133, 167, 150, 0.6)); */

	background-color: rgba(133, 167, 150, 0.3);
	border: 5px groove rgba(133, 167, 150, 0.35);
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
	border-radius: 5px;
}
#tabs ul{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#tabs ul li a{
	color: #036975;
	padding: 5px;
	font-size: 15px;
}
#tabs li{
	display: inline;
	text-align: center;
}
#tab1{
	border-right: 2px solid rgba(133, 167, 150, 0.35);
	border-left: 2px solid rgba(133, 167, 150, 0.35);
}
#tab3{
	border-right: 2px solid rgba(133, 167, 150, 0.35);
	border-left: 2px solid rgba(133, 167, 150, 0.35);
}
.logos a{
	display: inline;
	text-decoration: none;
}
.logos img{
	width: 40px;
	padding: 10px;
	
}
#ctab2 h5{
	margin-bottom: 0px;
}
.barraCuenta{
	margin-top: 10px;
}
.cuentaForm{
	box-shadow: 7px 7px 7px rgba(0, 0 , 0 , 0.3);
	border-radius: 10px;
	background: #F7F7F7;
	height: 895px;
	margin-bottom: 75px;
}
.cuerpoCuenta{
	margin-top: 40px;
}
.cuentaForm .labelCuenta{
	font-style: italic;
	text-align: center;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	display: block;

}

.cuentaForm .etiquetasFormCuenta{
	color: #043347; 
	font-size: 15px;
	font-weight: bold;
	display: block;
	text-align: left;
	padding: 10px;
}
.generalCuenta, .infoDropBox, .infoDrive, .infoMega{
	display: table;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #036975;
}
.leftCuenta{
	display: table-cell;
	width: 35%;
	margin-right: 5px;
}
.rightCuenta{
	display: table-cell;
	width: 35%;
	margin-left: 5px;
}
.leftInfoCuentas, .centerInforCuentas, .rightInforCuentas{
	display: table-cell;
}

.infoDropBox .logos, .infoDrive .logos, .infoMega .logos{
	width: 150px;
	display: block;
}
.infoDropBox .logos img, .infoDrive .logos img, .infoMega .logos img {
	width: 50%;
}
.infoDropBox .logos .tituloEmpresa, .infoDrive .logos .tituloEmpresa, .infoMega .logos .tituloEmpresa{
	color: #043347; 
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
}
.buttonCrearCuenta{
	padding-right: 0px;
	padding-left: 0px;
	width: 20%;
	display: block;
	margin: 0 auto;
	height: 40px;
	margin-bottom: 10px;

}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}
 
#pestanas ul{
    margin-left: -40px;    
}
 
#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    /*Color pestaña deseleccionada*/
    background: #D6D3B0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #036975;
    padding: 0px 20px 0px 20px;
}
#pestanas a:link{
    text-decoration: none;
    /*Color letra*/
    color: #036975;
}
 
#contenidopestanas{
    clear: both;  
    background: white;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid #036975;
}

.aside {
	text-align: right;
	width: 30%;
}
.imagen {
	width: 90%;
	margin: 0 auto;
}

.imagen img {
	width: 100%;
	height: 300px;
}
.listabarraprincipal{
	list-style: none;
	margin: 0px;
	text-align: right;
}

.listabarraprincipal li{
	display: inline;
	padding: 10px;
	border-left: 2px solid rgba(133, 167, 150, 0.35);

}
.listabarraprincipal li a, .bienvenidobarra a{
	font-family: Arial, Verdana, Helvetica;
	text-decoration: none;
	font-weight: bold;
	color: #036975;
}
.bienvenidobarra{
	display: inline-block;
	float: left;
}
.bienvenidobarra a{
	margin-left: 20px;
}


/*Tablet*/
@media only screen and (min-width:768px)  and (max-width:1024px) {
/* Styles */

	body{
        width: 100%;
    }
    
    .tituloheader {
    	width: 90%;
    	margin: 0 auto;
    }

    .footerIndex {
    	width: 90%;
    	margin: 0 auto;
    }

    .contenidotabs .ctab2 h5 {
    	display: block;
    }

    .cuerpo {
    	margin-top: 20px;
    }
}

/*Smartphone horizontal*/
@media only screen and (min-width : 321px) and (max-width: 767px) {
/* Styles */
    
  body{
        width: 100%;
    }
    
    .tituloheader {
    	width: 90%;
    	margin: 0 auto;
    }

    .footerIndex {
    	width: 90%;
    	margin: 0 auto;
    }

    .contenidotabs .ctab2 h5 {
    	display: block;
    }

    .cuerpo {
    	margin-top: 20px;
    }

    .formulario {
    	width: 90%;
    	margin: 0 auto;
    }

    .titulobarra {
    	width: 90%;
    }
}

/*Smartphone Vertical*/
@media only screen and (max-width : 320px) {
/* Styles */
    body{
        width: 100%;
    }
    
    .tituloheader {
    	width: 95%;
    	margin: 0 auto;
    }

    .footerIndex {
    	width: 95%;
    	margin: 0 auto;
    }

    .contenidotabs .ctab2 h5 {
    	display: block;
    }

    .cuerpo {
    	margin-top: 20px;
    }

    .formulario {
    	width: 95%;
    	margin: 0 auto;
    }

    .titulobarra {
    	width: 95%;
    }

    .label {
    	width: 90%;
    }

    .button {
    	width: 90%;
    }

    legend {
    	font-size: 14px;
    }
}